@font-face {
  font-family: 'Fira Sans';
  src: url(FiraSans-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(FiraSans-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Mono';
  src: url(FiraMono-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Mono';
  src: url(FiraMono-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Code';
  src: url(FiraCode-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Code';
  src: url(FiraCode-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}

