@font-face {
  font-family: 'Fira Sans';
  src: url(fonts/FiraSans-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(fonts/FiraSans-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Mono';
  src: url(fonts/FiraMono-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Mono';
  src: url(fonts/FiraMono-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Code';
  src: url(fonts/FiraCode-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Code';
  src: url(fonts/FiraCode-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}

:root {
  --light-blue: rgb(0, 150, 221);
  --lighter-blue: rgb(150, 210, 255);
  --navy-blue: rgb(0, 33, 71);
  --light-orange: rgb(255, 149, 0);
  --orange: rgb(230, 96, 0);
  --red: rgb(193, 56, 50);
  --yellow: rgb(255, 203, 0);
  --gecko-green: rgb(111, 190, 74);
  --grey-coal: rgb(77, 78, 83);
  --light-grey: rgb(208, 211, 212);
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
}
.remark-code, .remark-inline-code { font-family: 'Fira Code', monospace; }
.remark-code {
  font-size: .7em;
}
.remark-inline-code {
  background-color: white;
  color: var(--grey-coal);
  border-radius: 3px;
  padding: 0 2px;
  font-size: .9em;
}
.remark-code-line-highlighted {
  box-shadow: 0 0 0 0.5px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,.3);
}
h1 {
  font-weight: bold;
  font-size: 1.6em;
}
h2, h3, h4, h5, h6 { font-weight: normal; }

.remark-slide-content {
  background-image: url(images/logo-mozilla.svg);
  background-repeat: no-repeat;
  background-position: top 10px right 10px;
  background-size: 105px 30px;
  background-color: var(--grey-coal);
  color: white;
  padding: 1em 2em;
}

.cover {
  font-size: 1.2em;
  background-position: 20px 20px;
  background-size: 210px 60px;
}

li {
  margin: .5em 0;
}

em {
  font-style: unset;
  font-weight: bold;
  color: var(--light-orange);
}

img {
  max-width: 100%;
  max-height: 460px;
}

.with-caption img {
  max-height: 390px;
}

a {
  padding: 2px 5px;
  color: var(--lighter-blue);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

a:hover {
  background-color: var(--yellow);
  color: black;
  border-radius: 5px;
  text-shadow: none;
}

.smaller {
  font-size: .8em;
}

.smallest {
  font-size: .6em;
}

.flex {
  display: flex;
}

.flex p {
  padding: 0;
  margin: 0;
}
